<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Endadhe - Sneaky Necromancer Redux</h3>
		<div id="gameView" />
		<script src="javascripts/client.js" />
	</body>
</html>
