<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h3>Endadhe - Sneaky Necromancer Redux</h3>
		<canvas id="canvas" tabindex="1"/>
		<script src="/js/lib/lodash.js"></script>
		<script src="js/lib/state-machine.js"></script>
		<script src="/js/lib/pixi.js"></script>
		<script src="/js/main.js"></script>
		<script>
			var main = new Main(800,600,"canvas");
			main.start();
		</script>
	</body>
</html>
