<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body onload="start();">
		<h3>Endadhe - Sneaky Necromancer Redux</h3>
		<canvas id="canvas" tabindex="1"/>
		<script type="text/javascript" src="/js/lib/pixi.js"></script>
		<script type+"text/javascript" src="/js/main.js"></script>
		<script type="text/javascript">
			//Start Game
			function start(){
				main = new Main(800,600,"canvas");
			}
		</script>
	</body>
</html>
