<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h3>Endadhe - Sneaky Necromancer Redux</h3>
		<canvas id="canvas" width="800" height="400" tabindex="1"/>
		<script type="text/javascript" src="/js/lib/rhill-voronoi-core.js"></script>
		<script type="text/javascript" src="/js/lib/lodash.js"></script>
		<script type="text/javascript" src="/js/lib/state-machine.js"></script>
		<script type="text/javascript" src="/js/tileTerrainState.js"></script>
		<script type="text/javascript" src="/js/game.js"></script>
		<script type="text/javascript" src="/js/eventer.js"></script>
		<script type="text/javascript" src="/js/torrentBar.js"></script>
		<script type="text/javascript">
			var game = generateInitialState();
			var cameraView = new CameraView(canvas, game);
			//Handle browser input
			document.getElementById("canvas").focus();
			var simTimer = setInterval(function(){
				simulateGameState(game,game,0.1);
				cameraView.render();
			},100)
		</script>
	</body>
</html>
